*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: url(weather.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
}

.card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(1deg, #2c4b42, #5b548a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    min-width: 100px;
    min-height: 400px;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button {
    cursor: pointer;
    background: #384242;
    color: #fff;
    border: none;
    border-radius: 30px;
    padding: 10px 25px;
    font-size: 18px;
    outline: 0;
    border: 0;
    transition: background 0.3s ease;
}

.search button:hover {
    background: #097a4b;
}

.detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    margin-top: 30px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 30px;
    margin-right: 8px;
}

.humidity, .wind {
    font-size: 24px;
    margin-top: -3px;
}

img.weather-icon {
    width: 100px;
    height: auto;
    margin-top: 15px;
}